.loading-container{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

flex-direction:column;

gap:40px;

background:var(--bg);

color:var(--text);

overflow:hidden;

}

.progress-wrapper{

width:420px;

height:10px;

background:#222;

border-radius:20px;

overflow:hidden;

margin-top:20px;

}

.progress-bar{

height:100%;

width:0%;

background:linear-gradient(
90deg,
#2563eb,
#7c3aed
);

border-radius:20px;

box-shadow:0 0 15px #2563eb;

}.progress-wrapper{

width:420px;

height:10px;

background:#222;

border-radius:20px;

overflow:hidden;

margin-top:20px;

}

.progress-bar{

height:100%;

width:0%;

background:linear-gradient(
90deg,
#2563eb,
#7c3aed
);

border-radius:20px;

box-shadow:0 0 15px #2563eb;

}